@import collection.immutable.Seq
@import se.ramn.models.BattleReportView
@import se.ramn.models.ScoreRecord

@(battleReports: Seq[BattleReportView])

@main("Battles") {
  <h2>Initiate new battle</h2>
  @helper.form(action = routes.Battles.create) {
    <p>Run a battle between two randomly chosen bots</p>
    <p>
      <input type="submit" value="Execute battle" />
    </p>
  }


  <h2>Latest battles</h2>
  <ul>
    @for(report <- battleReports) {
      <li>
        <p>
          Battle created at: @report.createdAt
        </p>
        <table cellpadding="1" cellspacing="1" border="1">
          <tr>
            <th>TeamLeaderName</th>
            <th>Score</th>
            <th>Rank</th>
            <th>BulletDamage</th>
            <th>BulletDamageBonus</th>
            <th>LastSurvivorBonus</th>
            <th>RamDamage</th>
            <th>RamDamageBonus</th>
            <th>Survival</th>
            <th>Firsts</th>
            <th>Seconds</th>
            <th>Thirds</th>
          </tr>
          @for(ScoreRecord(bot, result) <- report.scoreRecordsByScore) {
            <tr>
              <td>
                <a href="@routes.Bots.show(bot.id.toString)">
                  @result.teamLeaderName
                </a>
              </td>
              <td>@result.score</td>
              <td>@result.rank</td>
              <td>@result.bulletDamage</td>
              <td>@result.bulletDamageBonus</td>
              <td>@result.lastSurvivorBonus</td>
              <td>@result.ramDamage</td>
              <td>@result.ramDamageBonus</td>
              <td>@result.survival</td>
              <td>@result.firsts</td>
              <td>@result.seconds</td>
              <td>@result.thirds</td>
            </tr>
          }
        </table>
      </li>
    }
  </ul>
}
