@import se.ramn.models.BattleReport
@(report: BattleReport)
@main("Battle report") {
  <h1>Battle report</h1>

  <dl>
    <dt>Number of rounds</dt>
    <dd>@report.battleSpecification.getNumRounds</dd>

    <dt>Battlefield height</dt>
    <dd>@report.battleSpecification.getBattlefield.getHeight</dd>

    <dt>Battlefield width</dt>
    <dd>@report.battleSpecification.getBattlefield.getWidth</dd>

  </dl>

  <p>
    <table cellpadding="1" cellspacing="1" border="1">
      <tr>
        <th>AuthorName</th>
        <th>ClassName</th>
        <th>Name</th>
        <th>Version</th>
        <th>RobocodeVersion</th>
        <th>TeamId</th>
        <th>Webpage</th>
        <th>Description</th>
      </tr>

      @for(robotspec <- report.battleSpecification.getRobots) {
        <tr>
          <td>@robotspec.getAuthorName</td>
          <td>@robotspec.getClassName</td>
          <td>@robotspec.getName</td>
          <td>@robotspec.getVersion</td>
          <td>@robotspec.getRobocodeVersion</td>
          <td>@robotspec.getTeamId</td>
          <td>@robotspec.getWebpage</td>
          <td>@robotspec.getDescription</td>
        </tr>
      }
    </table>
  </p>

  <p>
    <table cellpadding="1" cellspacing="1" border="1">
      <tr>
        <th>TeamLeaderName</th>
        <th>BulletDamage</th>
        <th>BulletDamageBonus</th>
        <th>Firsts</th>
        <th>LastSurvivorBonus</th>
        <th>RamDamage</th>
        <th>RamDamageBonus</th>
        <th>Rank</th>
        <th>Score</th>
        <th>Seconds</th>
        <th>Survival</th>
        <th>Thirds</th>
      </tr>
      @for(result <- report.completedEvent.getSortedResults) {
        <tr>
          <td>@result.getTeamLeaderName</td>
          <td>@result.getBulletDamage</td>
          <td>@result.getBulletDamageBonus</td>
          <td>@result.getFirsts</td>
          <td>@result.getLastSurvivorBonus</td>
          <td>@result.getRamDamage</td>
          <td>@result.getRamDamageBonus</td>
          <td>@result.getRank</td>
          <td>@result.getScore</td>
          <td>@result.getSeconds</td>
          <td>@result.getSurvival</td>
          <td>@result.getThirds</td>
        </tr>
      }
    </table>
  </p>
}
