@import se.ramn.viewmodels.BattleReportView
@import se.ramn.viewmodels.ScoreRecord

@(report: BattleReportView)
@main("Battle report") {
  <h1>Battle report</h1>

  <dl>
    <dt>Number of rounds</dt>
    <dd>@report.specification.numRounds</dd>

    <dt>Battlefield height</dt>
    <dd>
      @(report.specification.battlefieldHeight)
    </dd>

    <dt>Battlefield width</dt>
    <dd>@report.specification.battlefieldWidth</dd>

  </dl>

@**********
  <h2>Participants</h2>
  <p>
    <table cellpadding="1" cellspacing="1" border="1">
      <tr>
        <th>AuthorName</th>
        <th>ClassName</th>
        <th>Name</th>
        <th>Version</th>
        <th>RobocodeVersion</th>
        <th>TeamId</th>
        <th>Webpage</th>
        <th>Description</th>
      </tr>

      @for(robotspec <- report.specification.robots) {
        <tr>
          <td>@robotspec.authorName</td>
          <td>@robotspec.className</td>
          <td>@robotspec.name</td>
          <td>@robotspec.version</td>
          <td>@robotspec.robocodeVersion</td>
          <td>@robotspec.teamId</td>
          <td>@robotspec.webpage</td>
          <td>@robotspec.description</td>
        </tr>
      }
    </table>
  </p>
*****************@

  <h2>Score</h2>
  <p>
    <table cellpadding="1" cellspacing="1" border="1">
      <tr>
        <th>TeamLeaderName</th>
        <th>Score</th>
        <th>Rank</th>
        <th>BulletDamage</th>
        <th>BulletDamageBonus</th>
        <th>LastSurvivorBonus</th>
        <th>RamDamage</th>
        <th>RamDamageBonus</th>
        <th>Survival</th>
        <th>Firsts</th>
        <th>Seconds</th>
        <th>Thirds</th>
      </tr>
      @for(ScoreRecord(botVersion, result) <- report.scoreRecordsByScore) {
        <tr>
          <td>
            <a href="@routes.BotVersions.show(botVersion.id.toString)">
              @result.teamLeaderName
            </a>
          </td>
          <td>@result.score</td>
          <td>@result.rank</td>
          <td>@result.bulletDamage</td>
          <td>@result.bulletDamageBonus</td>
          <td>@result.lastSurvivorBonus</td>
          <td>@result.ramDamage</td>
          <td>@result.ramDamageBonus</td>
          <td>@result.survival</td>
          <td>@result.firsts</td>
          <td>@result.seconds</td>
          <td>@result.thirds</td>
        </tr>
      }
    </table>
  </p>

  <h2>Legend</h2>
  <p>
    <dl>
      <dt>BulletDamage</dt>
      <dd>The bullet damage score of this robot in the battle.</dd>
      <dt>BulletDamageBonus</dt>
      <dd>The bullet damage bonus of this robot in the battle.</dd>
      <dt>Firsts</dt>
      <dd>The number of rounds this robot placed first in the battle.</dd>
      <dt>LastSurvivorBonus</dt>
      <dd>The last survivor score of this robot in the battle.</dd>
      <dt>RamDamage</dt>
      <dd>The ram damage score of this robot in the battle.</dd>
      <dt>RamDamageBonus</dt>
      <dd>The ram damage bonus of this robot in the battle.</dd>
      <dt>Rank</dt>
      <dd>The rank of this robot in the battle results.</dd>
      <dt>Score</dt>
      <dd>The total score of this robot in the battle.</dd>
      <dt>Seconds</dt>
      <dd>The number of rounds this robot placed second in the battle.</dd>
      <dt>Survival</dt>
      <dd>The survival score of this robot in the battle.</dd>
      <dt>TeamLeaderName</dt>
      <dd>The name of the team leader in the team or the name of the robot if the robot is not participating in a team.</dd>
      <dt>Thirds</dt>
      <dd>The number of rounds this robot placed third in the battle.</dd>
    </dl>
  </p>
  }
