@import se.ramn.models.v2.Bot

@(bots: Iterable[Bot])
@main("Bots") {
  <h1>All bots</h1>
  <p><a href="/bots/add">Upload new bot</a></p>

  @for(bot <- bots) {
    <p>
      <dl>
        <dt>Id</dt>
        <dd>
          <a href="@routes.Bots.show(bot.id.toString)">@bot.id</a>
        </dd>

        <dt>Name</dt>
        <dd>
          @bot.name
        </dd>

        <dt>Created at</dt>
        <dd>@bot.createdAt</dd>

        <dt>Modified at</dt>
        <dd>@bot.modifiedAt</dd>
      </dl>
    </p>
  }
}
