@import se.ramn.models.Bot
@(bots: Iterable[Bot])
@main("Bots") {
  <h1>All bots</h1>
  <p><a href="/bots/add">Upload new bot</a></p>

  @for(bot <- bots) {
    <p>
      <dl>
        <dt>Id</dt>
        <dd>
          <a href="@routes.Bots.show(bot.id.toString)">@bot.id</a>
        </dd>

        <dt>Filename</dt>
        <dd>
          <a href="@routes.Bots.download(bot.id.toString)">
            @bot.originalFilename
          </a>
        </dt>

        <dt>Size bytes</dt>
        <dd>@bot.sizeBytes</dd>

        <dt>Uploaded at</dt>
        <dd>@bot.createdAt</dd>
      </dl>
    </p>
  }
}
