@import scala.collection.immutable.Seq
@import se.ramn.viewmodels.BotShowView

@(botView: BotShowView)
@import botView._

@main("Show bot") {
  <h1>Show bot</h1>
  <p><a href="/bots">Show all bots</a></p>
  <p>
    <a href="@routes.BotVersions.add(bot.id.toString)">
      Upload new version of this bot
    </a>
  </p>

  <p>
    <dl>
      <dt>Id</dt>
      <dd>@bot.id</dd>

      <dt>Name</dt>
      <dd>@bot.name</dd>

      <dt>Owner name</dt>
      <dd>@owner.name</dd>

      <dt>Created at</dt>
      <dd>@bot.createdAt</dd>

      <dt>Modified at</dt>
      <dd>@bot.modifiedAt</dd>
    </dl>

    @for(botVersion <- latestVersionOpt) {
    <h2>Latest bot version</h2>
    <dl>
      <dt>Version id</dt>
      <dd>
        <a href="@routes.BotVersions.show(botVersion.id.toString)">
          @botVersion.id
        </a>
      </dd>

      <dt>Filename</dt>
      <dd>
        <a href="@routes.BotVersions.download(botVersion.id.toString)">
          @botVersion.originalFilename
        </a>
      </dt>

      <dt>Size bytes</dt>
      <dd>@botVersion.sizeBytes</dd>

      <dt>Created at</dt>
      <dd>@botVersion.createdAt</dd>

      <dt>Modified at</dt>
      <dd>@botVersion.modifiedAt</dd>
    </dl>
    }

    <h2>All bot versions</h2>
    @for(botVersion <- versions) {
    <dl>
      <dt>Version id</dt>
      <dd>
        <a href="@routes.BotVersions.show(botVersion.id.toString)">
          @botVersion.id
        </a>
      </dd>
      <dt>Created at</dt>
      <dd>@botVersion.createdAt</dd>
    </dl>
    }
  </p>
}
